<div class='flex justify-between'>
  <h1 class="text-2xl font-semibold">Edit Event</h1>
  <%=link_to 'back to events', events_path, class:'px-3 py-1.5 border hover:bg-indigo-400 text-indigo-500 border-indigo-500 rounded-lg shadow-lg '%>
</div>

<%=render partial:"form"%>